.auth
    margin-top: 70px
    &__title
        text-align: center
        font-size: 36px
        text-transform: uppercase
    // &__info
    //     max-width: 750px
    //     line-height: 52px
    //     margin: 0 auto
    //     margin-bottom: 40px
    //     margin-top: 150px
    &__input
        display: block
        margin: 20px auto 20px auto
        width: 450px
        height: 70px
        background: #fff
        box-shadow: 0 4px 15px rgba(0,0,0,.2)
        border: none
        font-size: 24px
        text-align: center
        padding: 0 20px
        outline: 0
    &__btn
        display: block
        width: 450px
        height: 70px
        background-color: #3D5A80
        margin: 0 auto
        font-family: Montserrat
        font-weight: 700
        font-size: 24px
        color: #FFFFFF
        cursor: pointer
        border: none
    &__close
        text-align: center
        font-size: 24px
        color: rgba(0,0,0,.4)
        margin-top: 20px